<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo - Thymeleaf</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!-- jquery datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<!-- header -->
<div th:replace="fragments/header::top-nav"></div>
<h3 class="card-title" th:text="'Nombre de Staff: ' + ${nbStaff}"></span></h3>

<form method="post" th:action="@{/staff/do_search_by_store}" th:object="${searchStore}">
    <input required th:field="*{storeId}" type="text" placeholder="rechercher par store ID...">
    <button type="submit">OK</button>
</form>
<table class="table table-hover">
    <thead class="text-warning">
    <th>ID</th>
    <th>Nom</th>
    <th>Prenom(s)</th>
    <th>Email</th>
    </thead>
    <tbody>
    <tr th:each="staff:${allStaff}">
        <td th:text="${staff.staffId}"></td>
        <td th:text="${staff.lastName}"></td>
        <td th:text="${staff.firstName}"></td>
        <td th:text="${staff.email}"></td>


    </tr>
    </tbody>
</table>
<!-- footer -->
<div th:replace="fragments/footer::footer"></div>
</body>
</html>