<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo - Thymeleaf</title>
</head>
<body>
<table class="table table-hover">
    <thead class="text-warning">
    <th>Nom</th>
    <th>Prenom(s)</th>
    <th>Email</th>
    <th>Ville</th>
    <th>Pays</th>
    <th>Detail</th>
    </thead>
    <tbody>
    <tr th:each="customer:${allCustomer}">
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.addressId.cityId.city}"></td>
        <td th:text="${customer.addressId.cityId.countryId.country}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>