<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo - Thymeleaf</title>
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- jquery datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<!-- header -->
<div th:replace="fragments/header::top-nav"></div>
<h3 class="card-title" th:text="'Nombre de client: ' + ${nbCustomer}"></span></h3>
<form method="post" th:action="@{/customer/do_search_name}" th:object="${searchNames}" action="#">
    <input th:field="*{firstName}" th:value="${searchNames.getFirstName()}" type="text" />
    <button type="submit">Ok</button>
</form>
<a th:href="${'/customer/new'}" class="btn btn-primary btn-md" role="button">Add</a>
<table class="table table-hover">
    <thead class="text-warning">
    <th>ID</th>
    <th>Nom</th>
    <th>Prenom(s)</th>
    <th>Email</th>
    <th>Adresse</th>
    <th>District</th>
    <th>Code Postal</th>
    <th>Details</th>
    <th>Edit</th>
    <th>Delete</th>
    </thead>
    <tbody>
    <tr th:each="customer:${allCustomer}">
        <td><a th:href="${'/customer/'+customer.customerId}" th:text="${customer.customerId}"></a></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address.address}"></td>
        <td th:text="${customer.address.getDistrict()}"></td>
        <td th:text="${customer.address.postalCode}"></td>
        <td><a th:href="${'/customer/'+customer.customerId}" th:text="Details"></a></td>
        <td><a th:href="${'/customer/edit/' + customer.customerId}" th:text="Edit"></a></td>
        <td><a th:href="${'/customer/delete/' + customer.customerId}" th:text="Delete"></a></td>
    </tr>
    </tbody>
</table>
<!-- footer -->
<div th:replace="fragments/footer::footer"></div>
</body>
</html>