<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers Details</title>
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" />
</head>
<body>
<!-- HEADER -->
<div th:replace="fragments/header::top-nav"></div>
<!-- BODY -->
<h1>Détail du Customer <span th:text="${customer.getCustomerId()}"></span></h1>
<p>Prénom: <span th:text="${customer.lastName}"></span></p>
<p>Nom: <span th:text="${customer.firstName}"></span></p>
<p>Email: <span th:text="${customer.email}"></span></p>
<p>Addresse: <span th:text="${customer.getAddress().getAddress()}"></span></p>
<p>District: <span th:text="${customer.getAddress().getDistrict()}"></span></p>
<p>Code Postal: <span th:text="${customer.getAddress().getPostalCode()}"></span></p>

<!-- FOOTER -->
<div th:replace="fragments/footer::footer"></div>
</body>
</html>